version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PYTHONPATH=/app
      - MODEL_PATH=outputs/model.pkl
      - PP_PATH=outputs/preprocessor.joblib
    volumes:
      - .:/app
    command: python -m src.api.app

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    environment:
      - PYTHONPATH=/app
    depends_on:
      - api
    command: streamlit run src/dashboard/streamlit_app.py --server.port 8501
